<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$ManagedBillingWebhook</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://managedbillingwebhook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e0f276d3-ee09-4a8b-a527-e2a6ac2ee309/resourcegroups/ManagedWebhook/providers/Microsoft.Web/sites/ManagedBillingWebhook</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://managedbillingwebhook.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>